input[type="text"] {
    background: #fff;
    border: 3px dashed teal;
    padding: 10px 20px;
    width: 300px;
    margin: 5px 0 10px 0;
    color: #777;
    display: block;
    outline: none;
    font-family: inherit; /* pega a font importada do google fonts*/
    font-size: inherit;
}

input[type="text"]:focus {
    border: 3px dashed tomato; /* o dashed acredito que seja o tracejado das linha */
    transition: all .5s ease; /* isso é o tempo de interação, 5s */
}
